<body>
  <h1> Welcome to the battle  <%= @player_1%> and <%= @player_2%>! </h1>	
 <p> Player 1: <%= @player_1%></p>
 <p> Player 2: <%= @player_2%></p>
 <p> <%= @player_2%>'s health is <%= @health2%></p>
 <form method = "GET" action = "">
 <input type =  "submit" value = "Hit Player 2">
 </form> 
</body>